@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
  --color-main: #1E5084;
  --color-secundary: #FCCD2A;
  --color-light: #E8E8E8;
  --color-white: #FFFFFF
}

body {
  background-color: var(--color-main);
  padding: 20px 80px;
  font-family: 'Open Sans', sans-serif;
}

@media(max-width: 600px){
  body {
    padding: 12px;
  }
}